project:
  type: website
  output-dir: docs
  
freeze: auto  # re-render only when source changes

# website level options
website:
  title: "ESA2025 Movement Ecology Hackathon"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - united
    css: styles.css
    toc: true



